<aside class="tsd-sources">
    {{#if implementationOf}}
        <p>Implementation of {{#with implementationOf}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if inheritedFrom}}
        <p>Inherited from {{#with inheritedFrom}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if overwrites}}
        <p>Overrides {{#with overwrites}}{{> typeAndParent}}{{/with}}</p>
    {{/if}}
    {{#if sources}}
        <p>
            Defined in:
            {{#each sources}}
                {{#if url}}
                    <a href="{{url}}">{{fileName}}:{{line}}</a>;
                {{else}}
                    external file;
                {{/if}}
            {{/each}}
        </p>
    {{/if}}
</aside>