<header>

    <h1><a href=".">Highcharts</a></h1>

    <nav>
        <ul>
            <li><a href="https://www.highcharts.com/">Products</a></li>
            <li><a href="https://www.highcharts.com/demo/">Demo</a></li>
            <li><a href="https://www.highcharts.com/docs/">Docs</a></li>
            <li><a href="https://www.highcharts.com/support/">Support</a></li>
            <li><a href="https://www.highcharts.com/blog/">Blog</a></li>
            <li><a href="https://www.highcharts.com/community/">Community</a></li>
            <li><a href="https://shop.highsoft.com/">Buy</a></li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li><a href="https://www.highcharts.com/jobs/">Join Our Team</a></li>
            <li><a href="https://www.highcharts.com/about/">About Us</a></li>
        </ul>
    </nav>

</header>
