{{#with comment}}

    {{#if shortText}}
        <p class="Summary">
            {{#markdown}}{{{shortText}}}{{/markdown}}
        </p>
    {{/if}}

    {{#if text}}
        <p class="Text">
            {{#markdown}}{{{text}}}{{/markdown}}
        </p>
    {{/if}}

    {{#if tags}}
        {{#each tags}}
            <p class="{{{CamelCase tagName}}}">
                {{#markdown}}{{{text}}}{{/markdown}}
            </p>
        {{/each}}
    {{/if}}

{{/with}}
