{{#with comment}}
    {{#if shortText}}
        <p class="Summary">
            {{#markdown}}{{{shortText}}}{{/markdown}}
        </p>
    {{/if}}
    {{#if text}}
        <p class="Text">
            {{#markdown}}{{{text}}}{{/markdown}}
        </p>
    {{/if}}
    {{#if tags}}
        <dl class="Tags">
            {{#each tags}}
                <dt>{{tagName}}</dt>
                <dd>{{#markdown}}{{{text}}}{{/markdown}}</dd>
            {{/each}}
        </dl>
    {{/if}}
{{/with}}
