<section class="Members {{CamelCase cssClasses}}">

    <h2>{{wbr title}}</h2>

    {{#each children}}
        {{#unless hasOwnDocument}}
            {{> members.entry}}
        {{/unless}}
    {{/each}}

</section>
