{{#with project}}
    <section id="sidepanel">
        <nav>
            {{#if children}}
                <ul>
                    {{#each children}}
                        {{>sidepanel.item}}
                    {{/each}}
                </ul>
            {{/if}}
        </nav>
    </section>
{{/with}}
