<li class="{{#if isInPath}}Current {{/if}}{{{CamelCase cssClasses}}}">

    <a href="{{relativeURL url}}">{{{wbr title}}}</a>

    {{#if children}}
        <ul>
            {{#each children}}
                {{> toc.item}}
            {{/each}}
        </ul>
    {{/if}}

</li>
