body {
    background-color: #EEEAEA;
    color: #47475C;
    font-family: "roboto", 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    margin: 0;
    padding-top: 50px;
}

header {
    background-color: #47475C;
    color: #FFF;
    height: 50px;
    left: 0;
    line-height: 50px;
    padding: 0 15px;
    position: fixed;
    right: 0;
    text-transform: uppercase;
    top: 0;
}
header a {
    color: inherit;
    text-decoration: none;
}
header h1 {
    float: left;
    font-size: 16px;
    font-weight: 900;
    margin: 0;
}
header h1 a {
    background-color: #47475C;
    background-image: url(highcharts-logo.svg);
    background-position: 0 -9px;
    background-repeat: no-repeat;
    background-size: 231px 65px;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 50px 0 0 231px;
    width: 0;
}
header nav {
    float: left;
    font-size: 16px;
    font-weight: 600;
}
header nav ul {
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
}
header nav li {
    float: left;
}
header nav a {
    color: #eeeaea;
    display: block;
    padding: 0 30px 0 15px;
}
header nav+nav {
    float: right;
    font-size: 12px;
    font-weight: 400;
    margin-right: 15px;
}
header nav+nav a {
    padding: 0 15px;
}

section {
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
