body {
    background-color: #EEE;
}

header {
    background-color: #47475C;
    height: 50px;
    padding: 0 15px;
}

header h1 a {
    background-color: #47475C;
    background-image: url(highcharts-logo.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 178px 50px;
    display: block;
    height: 0;
    overflow: hidden;
    padding: 50px 0 0 178px;
    width: 0;
}

section {
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
