<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <title>{{product}} API Options</title>
    </head>
    <body>
        <section>
            <nav>{{#each files}}
                <a href="{{_prefix}}">{{name}}</a>
            {{/each}}</nav>
        </section>
    </body>
</html>