<a href="{{relativeURL url}}">{{{wbr title}}}</a>
{{#if children}}
    <ol>
        {{#each children}}
            <li>
                {{> navigation.toc}}
            </li>
        {{/each}}
    </ol>
{{/if}}